*, body{
    background-color:#333333;
}

.navbar{
    /*background-color: #333333;*/
    color:#fff;
    width:50%;
    margin-left: 20%;
    margin-top: 5%;
    padding : 5px 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.navbar-services{
    display:flex;
}

.nav_profile{
    cursor:pointer;
}
.nav_profile:hover {
    font-size: 25px;
}
.btn-services{
    color:#797270;
    cursor:pointer;
    background:transparent;
}

.btn-services:hover{
    color: #ccc;
    border-radius: 20px;
}

.user_services{
    display:none;
    margin-left: 18%;
    margin-top:1%;
    color:#fff;
}
.u_serv_list{
    list-style: none;
    text-transform: capitalize;
}
.u_serv_item{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
.u_serv_item:hover{
    color: #A7A7A9;
    padding:3px 10px;
}
.container-welcome{
    width: 50%;
    margin-left: 20%;
}

.Welcome_handler{
    color:#797270;
    position:absolute;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5%;
}
.user_name{
    color:#A7A7A9;
    text-transform: uppercase;
}
.btn_group_management{
    float:right;
    display:flex;
}

.fa-photo-video, .folder_icon, .trach_icon, .clock_icon, .fa-eye{
    position: relative;
    top: -20px;
    color:#A7A7A9;
    margin-left: 10px;
    cursor: pointer;
}
.modal-overlay, .open-modal-overlay, .update-modal-overlay, .upload-modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -10;
}

.open-modal-overlay, .update-modal-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    display: grid;
    visibility: hidden;
    z-index: -10;
}

.update-modal-container{
    width:45%;
    margin-left:3%;
    align-items: center;
    align-content: center;
}

.update-modal-overlay, .upload-modal-container{
    color:#eee;
}

.open-modal {
    visibility: visible;
    animation: bounceIn 1.5s;
    z-index: 10;
}

.modal-container {
    border-radius: 20px;
    padding:10px 10px;
    width: 40%;
    height: auto;
    position: relative;
    text-transform: capitalize;
    color:#ccc;
}
.open-modal-container{
    top:0;
    float: top;
    width: 40%;
    position: relative;
    color: #ccc;
}


.popup-header, .popup-update-header, .popup-upload-header{
    display:flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.form-router{
    margin-top: 1%;
    background:transparent;
    width:60%;
    padding: 10px 10px;
    margin-left: 10%;
    display:flex;
    justify-content:space-between;
}

.form-router .fal{
    cursor: pointer;
    color:#797270;
    background-color: #333333;
    border: 1px solid #797270;
    padding:5px 10px;
    border-radius: 50px;
} 
.form-router .fal:hover {
    color:#ccc;
    border: 1px solid #ccc;
}
.form-router .active-fal{
    color: #ccc;
    border: 1px solid #ccc;
}

.update-form-body{
    margin-top: 2%;
    padding: 10px 10px;
    border-radius: 15px;
    margin-bottom:3%;
    display: grid;
    align-items: center;
    align-content: center;
    -webkit-box-shadow: 14px 3px 19px -7px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 14px 3px 19px -7px rgba(0, 0, 0, 0.68);
    box-shadow: 14px 3px 19px -7px rgba(0, 0, 0, 0.68);
}

.UpdateProfileName, .UpdateProfileEmail, .UpdateProfilePassword{
    text-align: left;
    width: 50%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 5px 10px;
    color:#eee;
    outline: none;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 5px solid #797270;
}




.popup-form, .popup-upload-form{
    margin-left: 5%;
    margin-bottom: 5%;
}

.popup-upload-form{
    margin-bottom: 5%;
    margin-left: 5%;
}
.folder_list_select{
    margin-top: 3%;
    padding:8px;
    color:#ccc;
    border-radius: 50px;
    cursor: pointer;
}


.custom-file-upload-label{
    cursor: pointer;
    color:#eee;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 4px solid #797270;
    padding:5px 8px;
}

.custom-file-upload-label:hover, .custom-file-upload-label:focus{
    border-color: #ccc;
    background-color: #00797270;
    opacity: 0.;
    border-radius: 50px;
    transition: 0.6s;
}

.custom-file-upload {
    border-radius: 50px;
    background-color: transparent;
    opacity: 0.5;
    cursor: pointer;
}

.custom-file-upload::file-selector-button {
    opacity: 0;
    display:hidden;
    position:absolute;
}

.folder_name{
    border-left:0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid #333333;
    outline: none;
    color:#ccc;
}

.open-folder-header{
    display: flex;
    margin-left:1%;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.3);
}

.open-folder-body{
    margin-top: 2%;
    padding: 10px 10px;
    border-radius: 15px;
    -webkit-box-shadow: 14px 3px 19px -7px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 14px 3px 19px -7px rgba(0, 0, 0, 0.68);    
    box-shadow: 14px 3px 19px -7px rgba(0, 0, 0, 0.68);
}

.sub-folder-item{
    margin-top: 2%;
    padding: 10px 10px;
    border-radius: 15px;
    display: flex;
    padding-left: 0.5%;
    padding-right: 0.5%;
    justify-content: space-between;
}

.open-folder-body-data{
    height: 350px;
    overflow-y: auto;
    padding:10px 10px;
    margin-top: 2%;
    border-radius: 15px;
}
.open-folder-body-data::-webkit-scrollbar {
    width: 5px;
}
.open-folder-body-data::-webkit-scrollbar-track {
    border: none;
}

/* Handle */
.open-folder-body-data::-webkit-scrollbar-thumb {
    background: #797270;
}



.opened-folder-details{
    display:flex;
    padding-left: 0.5%;
    padding-right: 0.5%;
    justify-content:space-between;
    margin-top: 1%;
}

.sub-search-input{
    border:none;
    width: 80px;
    padding-left: 1%;
    color:#ccc;
    outline: none;
}

.opened-folder_name{
    width:100%;
    left: 0;
    top: 0;
    float:left;
    margin-right: 5%;
    color:#ccc;
}


.folder_name:focus{
    border-bottom: 2px solid #ccc;
}

.popup-btns{
    margin-left: 5%;
}
.btn-send, .btn-update, .Button-Update-details, .Button-Update-credit, .btn-upload{
    color:#ccc;
    background:transparent;
    padding:5px 8px;
    text-transform:capitalize;
    border : 1px solid #ccc;
    border-radius: 15px;
    font-size: 13px;
}

.btn-send:hover ,.btn-update:hover, .Button-Update-credit:hover,
.btn-upload:hover, .btn-upload:focus,
.btn-send:focus ,.btn-update:focus, .Button-Update-credit:focus,
.Button-Update-details:hover , .Button-Update-details:focus{
    color:#fff;
    border: 1px solid #fff;
}

.btn-cancel, .btn-cancel-upload{
    background: transparent;
    padding: 5px 8px;
    text-transform: capitalize;
    border: none;
    color:#ccc;
    font-size: 13px;
}
.btn-cancel:hover, .btn-cancel:focus
.btn-cancel-upload:hover, .btn-cancel-upload:focus
{
    color: #fff;
}

.folder-handler{
    width:60%;
    height: 370px;
    overflow-y: auto;
    animation: bounceIn 3s;
    padding: 5px 10px;
    margin-top: 13%;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border:none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #797270;;
}

/* animation key */
@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}


.folder-item{
    padding: 5px 10px;
    color:#797270;
    margin-bottom: 2%;
}

.creating-date{
    color: #A7A7A9;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    right:0;
    float: right;
    text-decoration: underline;
    cursor: pointer;
    animation: bounceIn 3s;
}

.folder-item-date{
    bottom: 0;
    float: bottom;
    margin-top:1%;
}

.folder-item-Name:hover{
    color: #fff;
    cursor: pointer;
    font-size: 25px;
}


.folder-item-date:hover {
    color:#fff;
    text-decoration: underline;
}


.btn-serv-folder{
    margin-top: 3%;
    display:none;
    float: center;
    align-items: center;
    align-content: center;
    justify-content:center;
    animation: bounceIn 2.5s;
}

.btn-open-folder ,.btn-delete-folder, .btn-share-folder{
    border:none;
    margin-right:15px;
    color:#797270;
}

.btn-open-folder:hover,
.btn-delete-folder:hover,
.btn-share-folder:hover{
    color:#A7A7A9;
    font-size: 17px;
    cursor: pointer;
}