*, body{
    background-color:#333333;
}


.navbar{
    /*background-color: #333333;*/
    color:#fff;
    width:50%;
    margin-left: 20%;
    margin-top: 5%;
    padding : 5px 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.navbar-services{
    display:flex;
}

.nav_profile{
    cursor:pointer;
}
.nav_profile:hover {
    color:#eee;
    font-size: 25px;
}
.btn-services{
    color:#fff;
    cursor:pointer;
    background:transparent;
}

.btn-services:hover{
    background-color : #000;
    border-radius: 20px;
}

.user_services{
    display:none;
    margin-left: 18%;
    margin-top:1%;
    color:#fff;
}
.u_serv_list{
    list-style: none;
    text-transform: capitalize;
}
.u_serv_item{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
.u_serv_item:hover{
    background-color: #000;
    border-radius: 20px;
    padding:3px 10px;
}
.container-welcome{
    width: 50%;
    margin-left: 20%;
}

.Welcome_handler{
    color:#eee;
    position:absolute;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5%;
}
.user_name{
    color:#83E8BA;
    text-transform: uppercase;
}
.btn_group_management{
    float:right;
    display:flex;
}

.fa-photo-video, .folder_icon, .trach_icon, .clock_icon, .fa-eye{
    position: relative;
    top: -20px;
    color:#83E8BA;
    margin-left: 10px;
    cursor: pointer;
}