<!DOCTYPE html>


<head>
	<title>Dashbroad {{ User[1] }}</title>
	<!-- adding bootstrap css and js -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<body>
	{% block body %}
	<!-- Navbar -->
	<nav class="navbar">
  		<!-- Navbar content -->
		<div class="navbar-header">
			<div class="btn-group">
				<h4 class="nav_profile" id="nav_profile">
					<i class="fas fa-cloud-download"></i>
					cloud disk
				</h4>
			</div>
		</div>
		<div class="navbar-services">
			<ul class="nav justify-content-end">
			<li type="button" class="btn-services btn-sm" 
				data-bs-toggle="tooltip"
				id="create_new_folder" 
				data-bs-placement="top" 
				title="New folder">
  				<i class="fas fa-plus-circle"></i>
			</li>
			<li type="button" class="btn-services btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="upload file">
  				<i class="fas fa-file-plus"></i>
			</li>
			<li type="button" class="btn-services btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="upload folder">
  				<i class="fas fa-folder-plus"></i>
			</li>
			<li type="button" class="btn-services btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="search">
				<i class="fas fa-search"></i>
			</li>
			</ul>
		</div>
	</nav>
	<div class="user_services">
			<ul class="u_serv_list">
				<li class="u_serv_item" id="btn-show-user-profile"><i class="fas fa-user-edit"></i> Profile </li>
				<li class="u_serv_item"><i class="fas fa-clock"></i> Récent </li>
				<li class="u_serv_item"><i class="fas fa-trash-restore"></i> Corbeille </li>
				<li class="u_serv_item"><i class="fas fa-folder"></i> Folders </li>
				<li class="u_serv_item"><i class="fas fa-link"></i> Links </li>
				<li class="u_serv_item"><i class="fas fa-door-open"></i> Logout </li>
			</ul>
		</div>
<!-- Navbar -->
<div class="container-lg mt-5 fixed-center container-welcome">
	<div class="btn_group_management">
			<i class="fas fa-photo-video"> 0</i>
			<i class="fas fa-folder folder_icon"> 0</i>
			<i class="fas fa-trash-restore trach_icon"> 0</i>
			<i class="fas fa-clock clock_icon"> 0</i>
			<i class="fas fa-eye"> 0</i>
	</div>
	<h3 class="Welcome_handler">  welcom bac to your cloud account <span class="user_name"> {{ User[1] }} </span></h3>
</div>
<div class="container-lg folder-handler">
</div>

<!-- offcanvas ended -->


<!---  Profile update and manage modal -->

<div class="update-modal-overlay">
	<div class="update-modal-container">
		<div class="popup-update-profile">
			<div class="popup-update-header">
				<h3 class="popup-header_handler">
					<i class="fas fa-user"></i>
					 Your Profile 
				</h3> 
			</div>
			<div class="popup-update-form">
				<div class="form-router">
					<i class="fal fa-address-card" data-bs-toggle="tooltip" data-bs-placement="left" title="user profile"></i>
					<i class="fal fa-file-user" data-bs-toggle="tooltip" data-bs-placement="left" title="personal data"></i>
					<i class="fal fa-credit-card" data-bs-toggle="tooltip" data-bs-placement="left" title=" your credit card"></i>
				</div>	
				<div class="update-form-body">
				</div>
			</div>
			<div class="popup-btns">
				<button class="btn-update" id="btn-update-profile"> Save  </button>
				<button class="btn-cancel close-Update"> Close </button> 
			</div>
		</div>
	</div>
</div>


<!---  Profile update and manage modal -->










<!-- popup create new user folder -->
<div class="modal-overlay">
	<div class="modal-container">
		<div class="popup-create_folder">
			<div class="popup-header">
				<h4 class="popup-header_handler"><i class="fas fa-plus-circle"></i> Add folder </h4>
				<button type="button" class="btn-close" aria-label="Close"></button>
			</div>
			<div class="popup-form">
				<i class="fas fa-folder"></i>
				<input type="text" class="folder_name"  id="folder_name_input"/>
			</div>
			<div class="popup-btns">
				<button class="btn-send"> create </button>
				<button class="btn-cancel"> cancel </button> 
			</div>
		</div>
	</div>
</div>

<!-- popup create new user folder -->


<!--     Open Selected folder :     -->
<div class="open-modal-overlay">
	<div class="open-modal-container">
		<div class="popup-open-folder">
			<div class="open-folder-header"></div>
			<div class="open-folder-body"></div>
			<div class="open-folder-body-data"></div>
		</div>
	</div>
</div>

<!--     Open Selected folder :     -->




{% endblock %}
</body>

<!-- axios cdn -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<link rel="stylesheet" href="{{url_for('static', filename='css/dahsbroad.css')}}"/>
<script src="{{url_for('static', filename='js/dashbroad.js')}}"></script>
<!-- popup simpliy js -->
<link rel="stylesheet" href="{{url_for('static', filename='notify.min.css')}}"/>
<script  src="{{url_for('static', filename='notify.min.js')}}"></script>

